<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:web="http://java.sun.com/xml/ns/javaee" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
        version="2.5">

  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <!-- Página inicial -->
  <welcome-file-list>
    <welcome-file>jsp/landing.jsp</welcome-file>
  </welcome-file-list>

  <!-- Servlet para el login -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <!-- Servlet para el Logout de restaurantes -->
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <!-- Servlet para registrar un Restaurante -->
  <servlet>
    <servlet-name>RegistraRestaurante</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.RegistrarRestauranteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistraRestaurante</servlet-name>
    <url-pattern>/registrarRestaurante</url-pattern>
  </servlet-mapping>

  <!-- Servlet para registrar un comensal -->
  <servlet>
    <servlet-name>RegistraComensal</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.RegistrarComensalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistraComensal</servlet-name>
    <url-pattern>/registrarComensal</url-pattern>
  </servlet-mapping>

  <!-- Servlet para registrar un MENU -->
  <servlet>
    <servlet-name>RegistraMenu</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.RegistrarMenuSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistraMenu</servlet-name>
    <url-pattern>/registraMenu</url-pattern>
  </servlet-mapping>

  <!-- Servlet para ver un MENU -->
  <servlet>
    <servlet-name>ShowMenusREST</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.ShowMenusRESTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenusREST</servlet-name>
    <url-pattern>/showMenusRest</url-pattern>
  </servlet-mapping>

  <!-- Servlet para reservar un MENU -->
  <servlet>
    <servlet-name>ReservaMenuCOMENSAL</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.ReservaMenuCOMENSALServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaMenuCOMENSAL</servlet-name>
    <url-pattern>/reservaMenu</url-pattern>
  </servlet-mapping>

  <!-- Servlet para mostrar las imágenes -->
  <servlet>
    <description></description>
    <display-name>ServeImage</display-name>
    <servlet-name>ServeImage</servlet-name>
    <servlet-class>es.upm.dit.isst.mimenu.ServeImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeImage</servlet-name>
    <url-pattern>/serve-image</url-pattern>
  </servlet-mapping>


</web-app>