<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
         
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>HelloAppEngine</servlet-name>
		<servlet-class>es.upm.dit.isst.mimenu.HelloAppEngine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloAppEngine</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<!-- Página inicial -->
	<welcome-file-list>
		<welcome-file>jsp/landing.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Sevlet para el login de Usuarios -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>es.upm.dit.isst.mimenu.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet para el login de restaurantes -->
	<servlet>
		<servlet-name>LoginREST</servlet-name>
		<servlet-class>es.upm.dit.isst.mimenu.LoginRESTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginREST</servlet-name>
		<url-pattern>/loginrest</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet para el Logout de restaurantes -->
	<servlet>
		<servlet-name>LogOutREST</servlet-name>
		<servlet-class>es.upm.dit.isst.mimenu.LogoutRESTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutREST</servlet-name>
		<url-pattern>/logoutREST</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet para registrar un Restaurante -->
	<servlet>
		<servlet-name>RegistraRestaurante</servlet-name>
		<servlet-class>es.upm.dit.isst.mimenu.RegistrarRestauranteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistraRestaurante</servlet-name>
		<url-pattern>/registrarRestaurante</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet para registrar un MENU -->
	<servlet>
		<servlet-name>RegistraMenu</servlet-name>
		<servlet-class>es.upm.dit.isst.mimenu.RegistrarMenuSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistraMenu</servlet-name>
		<url-pattern>/registraMenu</url-pattern>
	</servlet-mapping>

</web-app>